---
import Layout from "../layouts/Layout.astro";
import { getArticles, getCategories } from "../utils/fetchApi";
import Market from "../components/Market/Market";

const articles = await getArticles();
const categories = await getCategories();
---

<Layout title="¡A la venta! Nos mudamos">
  <section class="p-3 md:p-9">
    <header>
      <h2 class="font-normal text-4xl text-center">Artículos a la venta</h2>
    </header>
    <Market client:load categories={categories} articles={articles} />
  </section>
</Layout>

<style></style>
